In [3]:
# First n natural numbers
num=int(input("Enter a number:"))
i=1
while i<=num:
  print(i,end=" ,")
  i=i+1

Enter a number:20
1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,11 ,12 ,13 ,14 ,15 ,16 ,17 ,18 ,19 ,20 ,

In [8]:
# for loop
num1=int(input("Insert a number"))
for i in range(1, num1+1):
 print(i,end=",")

Insert a number10
1,2,3,4,5,6,7,8,9,10,

In [10]:
age=int(input("Enter your age"))
print("Vote") if age >=18 else print(" can not vote")

Enter your age18
Vote

In [16]:
# +ve number
number= int(input("Enter a number"))
if number >0:
  print("+ve number" )
elif number < 0:
  print("-ve number")
else:
  print("zero")

Enter a number4
+ve number

In [17]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))

sum = a + b
sub = a - b
product = a * b
quo = a / b
flr_quo = a // b
mod = a % b
power = pow(a,b)
print("sum:", sum)
print("subtraction:", sub)
print("product:", product)
print("quotient:", quo)
print("Floor quotient:", flr_quo)
print("remainder:", mod)
print("power:", power)

enter first number: 10
enter second number: 2
sum: 12
subtraction: 8
product: 20
quotient: 5.0
Floor quotient: 5
remainder: 0
power: 100

In [19]:
# Even or Odd
num=int(input("Enter a number:"))
if num % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Enter a number:25
Odd number

In [20]:
num1=int(input("Enter a number:"))
print("Even number") if num1 %2==0 else print("Odd number")

Enter a number:11
Odd number

In [24]:
mark=int(input("Enter your mark:"))
if mark<0 or mark >100:
  print("invalid mark")
elif mark >=90:
  print(" Grade A+")
elif mark >=80:
  print("Grade A")
elif mark >=70:
  print("Grade B")
elif mark >=60:
  print("Grade C")
elif mark >=50:
  print("Grade D")
elif mark >=40:
  print("Grade E")
else:
  print("FAIL")

Enter your mark:60
Grade C

In [30]:
# Round
import math
number=float(input("Enter a number:"))
print(math.ceil(number))
print(math.floor(number))
print(round(number))

Enter a number:5.55
6
5
6

In [31]:
import math
a = int(input("enter first number: "))
b = int(input("enter second number: "))
c = int(input("enter third number: "))

sqroot = math.sqrt(a)
square = b ** 2
cb = c ** (1/6)

print("Square root :", sqroot)
print("Square:", square)
print("Cube root:", cb)

enter first number: 8
enter second number: 12
enter third number: 25
Square root : 2.8284271247461903
Square: 144
Cube root: 1.7099759466766968

In [1]:
# multiplication table
number=int(input("Enter a number:"))
for i in range(1,11):
  print(number,'*',i,'=',number*i)

Enter a number:10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [5]:
# largest 3 number
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
num3=float(input("Enter third number:"))
if num1>= num2 and num1>=num3:
  print(num1,'is largest')
elif num2 >= num1 and num2>= num3:
  print(num2,'is largest')
else:
  print(num3,'is largest')

Enter first number:10
Enter second number:20
Enter third number:5
20.0 is largest

In [6]:
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
num3=float(input("Enter third number:"))
largest=max(num1,num2,num3)
print(largest,'is largest')

Enter first number:10
Enter second number:45
Enter third number:14
45.0 is largest

In [7]:
first = int(input("Enter first number:"))
second = int(input("Enter second number:"))

if first == second:
    print("Both are Equal")
elif first > second:
    print(str(first) + " is Greater")
else:
    print(str(second) + " is Greater")

Enter first number:5
Enter second number:5
Both are Equal

In [8]:
first = int(input("Enter first number:"))
second = int(input("Enter second number:"))

if first == second:
    print("Both are Equal")
else:
    result = max(first, second)
    print(str(result) + " is greater")

Enter first number:12
Enter second number:400
400 is greater

In [9]:
first = int(input("Enter first number:"))
second = int(input("Enter second number:"))
third = int(input("Enter third number:"))

temp = first if first > second else second

result = temp if temp > third else third
print(str(result) + " is the greatest")2

Enter first number:1
Enter second number:5
Enter third number:11
11 is the greatest

In [10]:
first = int(input("Enter first number:"))
second = int(input("Enter second number:"))
third = int(input("Enter third number:"))

result = max(first, max(second, third))
print(str(result) + " is greatest")

Enter first number:88
Enter second number:777
Enter third number:4
777 is greatest

In [4]:
# poer of n
base=int(input("Enter a number"))
expo=int(input("Enter a number"))
result=1
i=1
while i<= expo:
  result*=base
  i+=1
print(result)
print(expo)

Enter a number2
Enter a number3
8
3

In [8]:
low, high = input("Enter the two numbers: ").split()

for i in range(int(low), int(high)+1):
    print(i, end = " ")
    if i % 13 == 0:
        break

Enter the two numbers: 10 26
10 11 12 13

In [13]:
low,high=input("Enter two numbers:").split()
for i in range(int(low),int(high)+1):
  if i%5 ==0:
    break
  print(i,end=" ")

Enter two numbers:1  8
1 2 3 4

In [2]:
num=int(input("Enter the size of array:"))
arr=[]
print("The array elements are:")
for i in range(num):
  arr.append(int(input()))
print(arr)
print("the elements are:")
for i in range(num):
  print(arr[i],end="")

Enter the size of array:5
The array elements are:
5
4
3
2
1
[5, 4, 3, 2, 1]
the elements are:
54321

In [3]:
#2 D Array
R = int(input("Enter the number of rows:"))
C = int(input("Enter the number of columns:"))

# Initialize matrix
matrix = []
print("Enter the entries row-wise:")

# For user input
for i in range(R):  # A for loop for row entries
    a = []
    for j in range(C):  # A for loop for column entries
        a.append(int(input()))
    matrix.append(a)

# For printing the matrix
for i in range(R):
    for j in range(C):
        print(matrix[i][j], end=" ")
    print()

Enter the number of rows:2
Enter the number of columns:3
Enter the entries row-wise:
10
20
30
40
50
60
10 20 30
40 50 60