In [ ]:
a=40
b=20
if(a>b):
  print("a is bigger")
else:
  print("b is bigger")

a is bigger

In [ ]:
a=11
b=5
if(a%2==0):
  print("a is even number")
else:
  print ("a is an odd number")

a is an odd number

In [ ]:
num=int(input("Enter number"))
if(num%2==0):
  print("num is even")
else:
  print("Odd number")

Enter number10
num is even

In [ ]:
num=int(input("Enter a number:"))
if(num>=50):
  print("50+")
elif(num>=40):
  print("40+")
elif(num>=30):
  print("30+")
else:
  print("less than 30")

Enter a number:11
less than 30

In [ ]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
if(num1>num2):
  print("num1 is greater")
elif(num1==num2):
  print("num1 and num2 are equal")
else:
  print("num2 is greater")

Enter first number:10
Enter second number:20
num2 is greater

In [ ]:
tenur=5
perform_rate=3
salary=50000
if(tenur>=5):
  print("you are eligible for bonus")
  if(tenur>=4):
    bonus=salary*.02
  elif(tenur>=3):
    bonus=salary*0.1
  else:
    bonus=salary*0.5
  print(f"you are eligible for bonus rupees {bonus} your salary is {salary}")
else:
  print("you are not eligible for bonus")

you are eligible for bonus
you are eligible for bonus rupees 1000.0 your salary is 50000

In [ ]:
for num in range(10):
  print(num*num)

0
1
4
9
16
25
36
49
64
81

In [ ]:
for num in range(1,10,2):
  print(num*num)

1
9
25
49
81

In [ ]:
my_list=["apple","orange","banana"]
for fruit in range(len(my_list)):
  print(my_list[fruit])

apple
orange
banana

In [ ]:
my_list=["apple","orange","banana"]
for fruit in my_list:
  print(fruit)

apple
orange
banana

In [ ]:
expenses=[1000,2000,3000,4000,5000]
for exp in expenses:
  if(exp>2500):
   # continue
    print(f"Your expense is {exp}, you have cross the limit")
  elif(exp>=2000):
    print(f"Your expense is {exp}, you are close to limit, try saving")
  else:
    print(f"Your expense is {exp}, you are good in saving")

Your expense is 1000, you are good in saving
Your expense is 2000, you are close to limit, try saving
Your expense is 3000, you have cross the limit
Your expense is 4000, you have cross the limit
Your expense is 5000, you have cross the limit

In [ ]:
stocks={"Apple":20,"Banana":30,"orange":10}
for prd,stk in stocks.items():
  print(f"{prd} is available in {stk}kg")

Apple is available in 20kg
Banana is available in 30kg
orange is available in 10kg

In [ ]:
stocks={"Apple":20,"Banana":30,"orange":10}
for prd,stk in stocks.items():
 if(stk<=10):
  print(f"{prd} is out of stock")
 else:
  print(f"{prd}is in stock")

Appleis in stock
Bananais in stock
orange is out of stock