In [ ]:
a = 1
while a<10:
  print(a)
  a+=1

1
2
3
4
5
6
7
8
9

In [ ]:
#all numbers from 10 to 1
num=10
while num>0:
  print(num,end=' ')
  num-=1

10 9 8 7 6 5 4 3 2 1

In [ ]:
#multiplication table of 3

num = 1
while num <= 10:
  mult=num*3
  print(f"{num} * 3 = {mult}")
  num+=1

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [ ]:
#calculate the sum of first n natural number whilw using while loop
num = int(input("Enter the number"))
total=0
while(num > 0):
  total= total + num
  num-=1
  print(f"total number is {total}")

Enter the number8
total number is 8
total number is 15
total number is 21
total number is 26
total number is 30
total number is 33
total number is 35
total number is 36

In [ ]:
#function
def largest(num1,num2,num3):
  if num1>num2 and num1>num3:
   return num1
  elif num2>num1 and num2>num:
   return num2
  else:
    return num3

In [ ]:
largest(50,40,100)

100

In [ ]:
#palindrome
def palindrome(str1):
 str1=str1.lower()
 if str1==str1[::-1]:
  return True
 else:
  return False

In [ ]:
palindrome("amma")

True

In [ ]:
def factorial(n):
    result = 1
    while n > 1:
        result *= n
        n -= 1
    return result

In [ ]:
factorial(6)

720

In [ ]:
def prime(num):
  chk = 2
  while chk<num:
    if num%chk == 0:
      return False
    chk+=1
  return True

In [ ]:
prime(2)

True

In [ ]:
ran = int(input("Enter Range"))
for i in range(1,ran+1):
  if prime(i):
    print(i,end=" ")

Enter Range20
1 2 3 5 7 11 13 17 19

In [ ]:
num = int(input("Enter Number"))
count = 0
while num>0:
  rem = num%10
  count+=1
  num=num//10
print(count)

Enter Number542422
6

In [ ]:
myname=input()

Aswathy

In [ ]:
print("The length of your name is:")
print(len(myname))

The length of your name is:
7